aiofiles
aiosqlite
asyncmy==0.2.5
fastapi
fastapi-jwt-auth
gunicorn
loguru
mysql-connector-python
pydantic
pydantic[email]
pymysql
pytest
python-dotenv
python-multipart
sqlalchemy
sqlmodel
uvicorn
asyncmy==0.2.5
sqlmodel
fastapi-versioning
